# Python bytecode
*.pyc

# Logs
*.log
nohup.out

# Virtualenv
venv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Others
data/
log/
config/api-config.json
test*
!reflexion4rec/*/test*

wandb/
trlx/
